*, *::after, *::before {
    box-sizing:border-box;
    overflow-x: hidden;
  
  }

  :root {
	--header-background: #00619d ;
	--color-text:#111;
	--color-background: rgb(233,234,237);

	--section-background: #eee; 

	--hover-text: #2196f3; 
}

section:nth-last-of-type(1) p {
    
}

section:nth-last-of-type(4) ul { 
    overflow: auto; 
    white-space: nowrap; 
    margin: 1em; 
    padding: 0; 
} 

section:nth-last-of-type(4) ul li { 
    display: inline-block;
    
} 