*, *::after, *::before {
    box-sizing:border-box;
    /* overflow-x: hidden; */
}

:root {
	color-scheme: light dark;
		--body-background: light-dark(rgb(233,234,237), #18191a);
		--nav-background: light-dark(#dcdfe6, #18191a);
		--section-background: light-dark(#ffffff, #242526);
		--footer-background: light-dark(rgb(42,43,60), #18191a);
		--light-gray: light-dark(#f8f8f8, #1b1c1d) ; 

		--black-text: light-dark(#111, #eee) ;

		--white-text: light-dark(#eee, #111);

		--drop-shadow: light-dark(#3e4042, rgb(197, 197, 197));


	 --dark-blue: #00619d;
     --blue-text: #1675b6;
	 --gray-text: #7a7a7a;
	 --wit: #eee;
     
	 --hover-text: #2196f3; 
     --span-ster: #ffd600;
}

a, abbr{
	text-decoration: none;
  }

  main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

/*section 1*/
main section:nth-of-type(1){
    margin: 1em;
    padding: 0;

    position: relative;
    overflow: hidden;
}


main section:nth-of-type(1) img:nth-of-type(1){
    width: 40em;
    display: flex;
    align-items: center;
}

main section:nth-of-type(1) img:nth-of-type(2){
    width: 1.2em;

    position: absolute;
    bottom: 1em;
    left: 7em;
}

main section:nth-of-type(1) img:nth-of-type(3){
    width: 1.2em;

    position: absolute;
    bottom: 1em;
    left: 10em;
}

main section:nth-of-type(1) h2 {
    color: var(--white-text);
    text-shadow: -1px 0 var(--black-text), 0 1px var(--black-text), 1px 0 var(--black-text), 0 -1px var(--black-text);
    padding: 0.5em;
    padding-bottom: 0;

    position: absolute;
    bottom: 2em;
}

main section:nth-of-type(1) p:nth-of-type(1) {
    color: var(--blue-text);
    text-transform: uppercase;
    padding: 0.5em;
    padding-bottom: 0;

    position: absolute;
    bottom: 9em;
}

main section:nth-of-type(1) p:nth-of-type(2) {
    color: var(--gray-text);
    position: absolute;
    bottom: 1em;
}
/*EIND***section 1*/

/*section 2*/
    
main section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
}

main section:nth-of-type(2) a{
    color: var(--black-text);
}

/*eerste ul*/
main section:nth-of-type(2) ul:nth-of-type(1){
    overflow: initial;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
}
    
main section:nth-of-type(2) ul:nth-of-type(1) li { 
    display: inline-block;
    font-size: 0.9em;
}

main section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) a { 
    color: var(--blue-text);
}
    
/*tweede ul*/
main section:nth-of-type(2) ul:nth-of-type(2) li{ 
    display: grid;

    border-top: 1px solid var(--nav-background);
    border-bottom: 1px solid var(--nav-background);
}

main section:nth-of-type(2) ul:nth-of-type(2) a{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.6fr ;
}

main section:nth-of-type(2) ul:nth-of-type(2) h3{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em;
    color: var(--black-text);

}

main section:nth-of-type(2) ul:nth-of-type(2) li p:nth-of-type(1){
    grid-column: 2;
    grid-row: 1;

    color: var(--blue-text);
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

main section:nth-of-type(2) ul:nth-of-type(2) p:nth-of-type(2){
    grid-column: 2;
    grid-row: 3;

    color: var(--gray-text);
    font-size: .9em;
    margin-left: 0.5em;
}

main section:nth-of-type(2) a img{
    width: 100%;
    grid-row: 1/4;
}

main section:nth-of-type(2) a img:nth-of-type(2){
    grid-column: 2;
    grid-row: 3;
    
    width: 1em;
    margin-left: 7.5em;
}

main section:nth-of-type(2) ul:nth-of-type(2) p:nth-of-type(3){
    grid-column: 2;
    grid-row: 3;
    margin-left: 9.5em;

    color: var(--gray-text);
    font-size: .9em;
}

main section:nth-of-type(2) a img:nth-of-type(3){
    grid-column: 2;
    grid-row: 3;

    width: 1em;
    margin-left: 10.5em;
}

main section:nth-of-type(2) ul:nth-of-type(2) p:nth-of-type(4){
    grid-column: 2;
    grid-row: 3;
    margin-left: 12.8em;

    color: var(--gray-text);
    font-size: .9em;
}

main section:nth-of-type(2) > a{
    border: 1px solid var(--nav-background);
    padding: 10px;
    color: var(--black-text);
    cursor: pointer;
    display: inline-block;
    text-align: center;

    box-shadow: 0 0 6px var(--drop-shadow);
}
/*EIND***section 2*/

/* SECTION 3 + 4 + 5*/
main section:nth-of-type(3) ul, main section:nth-of-type(5) ul { 
    overflow: auto; 
    white-space: nowrap; 
    display: flex;
    margin: 1em; 
    gap: 0.5em;
} 

main section:nth-of-type(3) ul li, /*main section:nth-of-type(4) ul li,*/ main section:nth-of-type(5) ul li  { 
    padding: 0;
} 

main section:nth-of-type(3) img, main section:nth-of-type(4) img{ 
    width: 9.3em; 
} 

main section:nth-of-type(3) ul li p, main section:nth-of-type(4) ul li p, main section:nth-of-type(5) ul li p { 
    padding: 0.2em;
} 

main section:nth-of-type(3) ul li > p, main section:nth-of-type(4) ul li > p, main section:nth-of-type(5) ul li > p { 
    font-size: 0.9em;
} 

main section:nth-of-type(3) ul li a p, main section:nth-of-type(4) ul li a p, main section:nth-of-type(5) ul li a p { 
    color: var(--blue-text);
    font-weight: bold;
} 
/* EIND SECTION 3 + 4 + 5*/

/*section 4*/
main section:nth-of-type(4) > ul{
    overflow: auto; 
    white-space: nowrap; 
    display: flex;
    margin: 1em; 
    gap: 0.5em;
}

main section:nth-of-type(4) > ul > li{
    display: grid;
    grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.2fr;
    position: relative;
}

main section:nth-of-type(4) img{
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
}


main section:nth-of-type(4) ul li > ul{
    background: var(--section-background);

    padding: 0.3em;
    border-radius: 4px;
    width: 7em;
    height: 3em;

    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;

    position: absolute;
    top: 9.7em;
    left: 0.5em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

main section:nth-of-type(4) ul li > ul li {
    display: flex;
    align-items: center;
}

main section:nth-of-type(4) ul li > ul li:nth-of-type(1) {
    margin-right: 0.5em ;
    margin-left: 0.5em;
}


main section:nth-of-type(4) ul li > ul li p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

main section:nth-of-type(4) ul li > ul::after{
    content: "";
    position: absolute;
    margin-left: -.5em;
    bottom: -9px;
    left: 50%;
    border-color: transparent transparent var(--section-background) var(--section-background);
    border-style: solid;
    border-width: 5px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 var(--drop-shadow);
}

/* span ster 1 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(1) ul:nth-of-type(1) span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(1) ul:nth-of-type(1) span:nth-of-type(2):before, 
section:nth-of-type(4) li:nth-of-type(1) ul:nth-of-type(1) span:nth-of-type(3):before, 
section:nth-of-type(4) li:nth-of-type(1) ul:nth-of-type(1) span:nth-of-type(4):before,
section:nth-of-type(4) li:nth-of-type(1) ul:nth-of-type(1) span:nth-of-type(5):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    width: 100%;    
}

/* span ster 2 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(2) ul span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(2) ul span:nth-of-type(2):before, 
section:nth-of-type(4) li:nth-of-type(2) ul span:nth-of-type(3):before, 
section:nth-of-type(4) li:nth-of-type(2) ul span:nth-of-type(4):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
}

section:nth-of-type(4) li:nth-of-type(2) ul span:nth-of-type(5):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    width: 50%;
    overflow: hidden;
} 

/* span ster 3 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(3) ul span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(3) ul span:nth-of-type(2):before, 
section:nth-of-type(4) li:nth-of-type(3) ul span:nth-of-type(3):before, 
section:nth-of-type(4) li:nth-of-type(3) ul span:nth-of-type(4):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
}

/* span ster 4 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(4) ul span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(4) ul span:nth-of-type(2):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute; 
}

section:nth-of-type(4) li:nth-of-type(4) ul span:nth-of-type(3):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    width: 50%;
    overflow: hidden;
} 

/* span ster 5 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(5) ul:nth-of-type(1) span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(5) ul:nth-of-type(1) span:nth-of-type(2):before, 
section:nth-of-type(4) li:nth-of-type(5) ul:nth-of-type(1) span:nth-of-type(3):before, 
section:nth-of-type(4) li:nth-of-type(5) ul:nth-of-type(1) span:nth-of-type(4):before,
section:nth-of-type(4) li:nth-of-type(5) ul:nth-of-type(1) span:nth-of-type(5):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    width: 100%;    
}

/* span ster 6 */
main section:nth-of-type(4) ul li span{
    color: var(--span-ster);
    font-size: 1em;
    position: relative;

    margin: 0;
    padding: 0;
}

section:nth-of-type(4) li:nth-of-type(6) ul span:nth-of-type(1):before, 
section:nth-of-type(4) li:nth-of-type(6) ul span:nth-of-type(2):before, 
section:nth-of-type(4) li:nth-of-type(6) ul span:nth-of-type(3):before, 
section:nth-of-type(4) li:nth-of-type(6) ul span:nth-of-type(4):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute; 
}

/*EIND***section 4*/

/*section 5*/
main section:nth-of-type(5) img{ 
    width: 9.4em; 
    height: 200px;
    object-fit: cover;
} 
/*EIND***section 5*/

/*section 6*/
/* EERSTE - DERDE UL */
main section:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr 1fr 0.1fr;
}

main section:nth-of-type(6) h2{
    grid-row: 1;
    grid-column: 1;

    margin-bottom: 0.5em;
}

main section:nth-of-type(6) > a{
    grid-row: 1;
    grid-column: 1;
}

main section:nth-of-type(6) ul:nth-of-type(1){
    grid-row: 2;
    grid-column: 1;
}

main section:nth-of-type(6) h3:nth-of-type(1){
    grid-row: 3;
    grid-column: 1;
}

main section:nth-of-type(6) ul:nth-of-type(2){
    grid-row: 4;
    grid-column: 1;

    margin-bottom: 0.5em;

}

main section:nth-of-type(6) ul:nth-of-type(3){
    grid-row: 5;
    grid-column: 1;
}

main section:nth-of-type(6) h3:nth-of-type(2){
    grid-row: 6;
    grid-column: 1;
}



main section:nth-of-type(6) h3{
    color: var(--blue-text);
}

main section:nth-of-type(6) ul:nth-of-type(1),
main section:nth-of-type(6) ul:nth-of-type(3){
    display: grid;
    grid-auto-columns: 5em; /* Maakt rijen aan, zoveel het nodig heeft */
    grid-auto-flow: column; 

    transform-style:preserve-3d;
}
   

main section:nth-of-type(6) ul:nth-of-type(1) li,
main section:nth-of-type(6) ul:nth-of-type(3) li{
    transition: transform 0.3s ease;
    rotate:y -.1deg;
}

main section:nth-of-type(6) ul:nth-of-type(1) li:hover,
main section:nth-of-type(6) ul:nth-of-type(3) li:hover{
    transform: scale(110%); 
    z-index: 20; 
    translate:0 0 2em;
}

main section:nth-of-type(6) ul:nth-of-type(1) li img,
main section:nth-of-type(6) ul:nth-of-type(3) li img{
    box-shadow: 0 0 6px var(--drop-shadow);
    transition: all 0.3s ease;

    width: 6em;
    border-radius: .5em;
}

/* TWEEDE - VIERDE UL */
main section:nth-of-type(6) ul:nth-of-type(2),
main section:nth-of-type(6) ul:nth-of-type(4){
    display: flex;
    gap: 2em;
}

main section:nth-of-type(6) ul:nth-of-type(2) li,
main section:nth-of-type(6) ul:nth-of-type(4) li {
    display: flex;
}

main section:nth-of-type(6) ul:nth-of-type(2) li img,
main section:nth-of-type(6) ul:nth-of-type(4) li img{
    width: 1em;
}


/*EIND***section 6*/

/* section 7  */
/* Eerste ul */
main section:nth-of-type(7) > ul:nth-of-type(1){
    overflow: auto; 
    white-space: nowrap; 
    padding: 1em;

    border-top: 1px solid var(--nav-background);
    border-bottom: 1px solid var(--nav-background);
}

main section:nth-of-type(7) > ul:nth-of-type(1) li{ 
    display: inline-block;
    margin-right: 8em;

    scroll-snap-type: mandatory;

} 

main section:nth-of-type(7)  ul:nth-of-type(1) li a { 
    color: var(--black-text);
    font-weight: bold;
    font-size: 14px;
} 

main section:nth-of-type(7)  ul:nth-of-type(1) li:nth-of-type(1) a { 
    color: var(--blue-text);
} 


/* Tweede ul */
main section:nth-of-type(7) ul:nth-of-type(2) a {
	display: grid;
    grid-template-columns: 0.2fr 0.1fr 1fr;
	grid-template-rows: 0.1fr 0.6fr 0.3fr 0.6fr;

}
main section:nth-of-type(7)  ul:nth-of-type(2) li{
    display: inline-block;
}

main section:nth-of-type(7) ul:nth-of-type(2) > li {
    border-bottom: 1px solid var(--nav-background);
    padding: 0.5em;
    display: flex;
} 


main section:nth-of-type(7) ul li img{
	width: 4em;
    grid-row: 1/5;
    grid-column: 2;
}

main section:nth-of-type(7) ul:nth-of-type(2) a{
	font-size: 0.9em;
	color: var(--black-text);
	padding-left: 0.5em;

    grid-column: 3;
    grid-row: 2;
}

main section:nth-of-type(7) h2{
    margin-bottom: 0.5em;
}

main section:nth-of-type(7) a h3{
	color: var(--blue-text);
	padding-left: 0.5em;
    padding-top: 0.5em;

    grid-column: 3;
    grid-row: 1;
}

main section:nth-of-type(7) a ul{
    grid-column: 3;
    grid-row: 2;
}
main section:nth-of-type(7) a ul li:nth-of-type(1){
    padding-left: 0.5em;

    color: var(--black-text);
}

main section:nth-of-type(7) a ul li:nth-of-type(2){
    color: var(--black-text);
}

main section:nth-of-type(7) a p{
    padding-left: 0.5em;
    color: var(--black-text);
}

main section:nth-of-type(7) a p:nth-of-type(1){
    font-size: 16px;
    color: var(--gray-text);

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(7) a p:nth-of-type(2){
    grid-column: 3;
    grid-row: 3;
}

main section:nth-of-type(7) a p:nth-of-type(3){
     grid-column: 3;
    grid-row: 4;
}

main section:nth-of-type(7) ul li button{ 
    background: var(--section-background);
    border: 1px solid var(--gray-text); 
	border-radius: 3px;
	width: 2.5em;
	height: 1.5em;

	margin-left: 0.5em;
    margin-top: 0.4em;
}

main section:nth-of-type(7) ul li button img{ 
    width: 1em;
	margin-top:2.5px ;
}

/* span, sterretjes */
main section:nth-of-type(7) ul li span{
    color: var(--span-ster);
    font-size: 1.5em;

    margin: 0;
    padding: 0;
}

section:nth-of-type(7) span:nth-of-type(1):before, 
section:nth-of-type(7) span:nth-of-type(2):before, 
section:nth-of-type(7) span:nth-of-type(3):before, 
section:nth-of-type(7) span:nth-of-type(4):before{
    color: var(--span-ster);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
}

/*EIND***section 7*/

/* more a  */
section:nth-of-type(3) > a, section:nth-of-type(4) > a, section:nth-of-type(5) > a, section:nth-of-type(6) > a,  section:nth-of-type(7) > a { 
    color: var(--black-text);
    font-size: 14px;
    
    display: flex;
    justify-content: end;
}
