*, *::after, *::before {
    box-sizing:border-box;
}

:root {
	--header-background: #00619d ;
	--color-text:#111;
	--gray-text: #7a7a7a;
    --blauw-text: #1b92e4;
	--color-background: rgb(233,234,237);

	--nav-background:#dcdfe6;

	--section-background: #ffffff; 

	--hover-text: #2196f3; 
	--drop-shadow: rgb(197, 197, 197);

	--footer-background: rgb(42,43,60);
	--footer-tekst: #eee; 
}