*, *::after, *::before {
	box-sizing:border-box;
	margin: 0;
	padding: 0;  
  
	font-family: Helvetica, Arial, sans-serif;
  
  }
  
  :root {
	color-scheme: light dark;
		--body-background: light-dark(rgb(233,234,237), #18191a);
		--nav-background: light-dark(#dcdfe6, #18191a);
		--section-background: light-dark(#ffffff, #242526);
		--footer-background: light-dark(rgb(42,43,60), #18191a);
		--light-gray: light-dark(#f8f8f8, #1b1c1d) ; 

		--black-text: light-dark(#111, #eee);
		--white-text: light-dark(#eee, #111);
        --gray-text: light-dark(#7a7a7a, #eee);

		--drop-shadow: light-dark(#3e4042, rgb(197, 197, 197));


	 --dark-blue: #00619d;
     --blue-text: #1675b6;
	 --gray: #7a7a7a;
	 --wit: #eee;
     --zwart: #111;
     
	 --hover-text: #2196f3; 
     --span-ster: #ffd600;
  }
  
  body{
	  background-color: var(--body-background);
  }

  a, abbr{
	text-decoration: none;
  }

  button{
	cursor: pointer;
  }
  

  header{
	  background-color: var(--dark-blue);
	  padding: .5em;
  
  /*BURGER MENU + CODE VAN DE LES*/
	  display: flex;
	  align-items: center;
  
	  justify-content: space-between;
  }
  
  /* KIJKEN OF NAV??? */
  header section{
	  display: flex;
  }
  
  header section button{
	  padding: 0.5em;
  }
  
  header section button:nth-of-type(4) img{
	  height:100%;
	  width: 3em;
  }

  header h1 {
	padding: 0;
	

	text-transform: uppercase;
	font-size: 1.5em;
	color: var(--wit);

  } 
  
  header a{
	  color:var(--black-text)
  }
  
  header section button{
	  display: flex; 
	  align-items: center;
	  gap: .25em;
  
	  background-color: var(--dark-blue);
	  border: none;	
  }
  
  header button img {
	  height:100%;
	  width: 2em;
  }
  
  header button:nth-of-type(1){
	  order: 4;
  
  }

/* profiel */
  header > ul {
	background-color: var(--section-background);
	border-radius: 2px;
	border: 1px solid var(--nav-background);
	padding: 0.5em;

	position: absolute;
	top: calc(6.4%);
	right: calc(13%);

	z-index: 200;

	transform: translateY(-200em);
  }

  header > ul.inBeeld {
	transform: translateY(0);
  }

  header > ul li a{
	font-size: 14px;
	margin: 0.3em;

	display: flex;
	align-items: center;
  }

  header > ul li:active{
	background-color: var(--nav-background);
  }

  header > ul li a img {
	width: 1.2em;
	margin: 0.3em;
  }

  header > ul li a svg {
	width: 1.2em;
	margin: 0.3em;
	stroke: var(--black-text); 

	stroke-miterlimit: 10;
	stroke-width: 8px;
  }

  header > ul li:nth-of-type(1) svg,
  header > ul li:nth-of-type(2) svg,
  header > ul li:nth-of-type(3) svg,
  header > ul li:nth-of-type(4) svg,
  header > ul li:nth-of-type(5) svg,
  header > ul li:nth-of-type(6) svg,
  header > ul li:nth-of-type(7) svg,
  header > ul li:nth-of-type(8) svg,
  header > ul li:nth-of-type(9) svg,
  header > ul li:nth-of-type(10) svg,
  header > ul li:nth-of-type(11) svg,
  header > ul li:nth-of-type(14) svg{
	fill: none;
  }

  /* 5de svg */
  header > ul li:nth-of-type(5) svg g text {
	font-size: 69.86px;
	font-variation-settings: 'wght' 900;
  }

  /* 7de, 8ste, 9de, 10de, 11ste svg */
  header > ul li:nth-of-type(7) svg g rect:nth-of-type(2),
  header > ul li:nth-of-type(10) svg g rect:nth-of-type(2),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(6) {
	fill: var(--section-background);
  }

  header > ul li:nth-of-type(7) svg g rect:nth-of-type(3),
  header > ul li:nth-of-type(10) svg g rect:nth-of-type(4),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(3),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(4),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(5),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(8),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(9),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(10),
  header > ul li:nth-of-type(11) svg g path:nth-of-type(11),
  header > ul li:nth-of-type(11) svg g rect,
  header > ul li:nth-of-type(14) svg g rect {
	stroke-width: 0px;
  }

  header > ul li:nth-of-type(7) svg g rect:nth-of-type(1),
  header > ul li:nth-of-type(7) svg g path:nth-of-type(1),
  header > ul li:nth-of-type(7) svg g path:nth-of-type(4),
  header > ul li:nth-of-type(8) svg g path,
  header > ul li:nth-of-type(13) svg g rect,
  header > ul li:nth-of-type(13) svg g ellipse{
	stroke: var(--black-text);
  }

  header > ul li:nth-of-type(7) svg g path:nth-of-type(2), 
  header > ul li:nth-of-type(7) svg g path:nth-of-type(3),
  header > ul li:nth-of-type(7) svg g path:nth-of-type(5),
  header > ul li:nth-of-type(7) svg g path:nth-of-type(6),
  header > ul li:nth-of-type(7) svg g line:nth-of-type(1), 
  header > ul li:nth-of-type(7) svg g line:nth-of-type(2){
	stroke: var(--section-background);
  }

  header > ul li:nth-of-type(8) svg g rect,
  header > ul li:nth-of-type(9) svg g rect, 
  header > ul li:nth-of-type(13) svg g rect:nth-of-type(1),
  header > ul li:nth-of-type(13) svg g rect:nth-of-type(2),
  header > ul li:nth-of-type(13) svg g path:nth-of-type(1),
  header > ul li:nth-of-type(13) svg g ellipse{
	stroke-width: 0px;
 }

 /* 13de svg */

header > ul li:nth-of-type(13) svg g path:nth-of-type(4),
header > ul li:nth-of-type(13) svg g path:nth-of-type(2),
header > ul li:nth-of-type(13) svg g rect:nth-of-type(2)
	{fill: none;
 }

 /* 10de svg */
 header > ul li:nth-of-type(10) svg g line,
 header > ul li:nth-of-type(10) svg g rect:nth-of-type(1),
 header > ul li:nth-of-type(10) svg g rect:nth-of-type(2),
 header > ul li:nth-of-type(10) svg g rect:nth-of-type(3){
	stroke-miterlimit: 10;
	fill: var(--section-background);
 }

 /* 11ste svg */
 header > ul li:nth-of-type(11) svg g path:nth-of-type(3),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(4),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(5),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(8),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(9),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(10),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(11){
	fill: var(--blue-text);
 }

 header > ul li:nth-of-type(11) svg g path:nth-of-type(6),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(1),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(2),
 header > ul li:nth-of-type(11) svg g path:nth-of-type(7){
	stroke: var(--blue-text);
	stroke-miterlimit: 10;
 }

  /* eind svg */

  header > ul li:nth-of-type(11) > a,
  header > ul li:nth-of-type(12) > a{
	color: var(--blue-text);
  }

  header > ul li:nth-of-type(12){
    border-bottom: 1px solid var(--nav-background);
	
	display: grid;
	grid-auto-flow: column;
  }

  header > ul li:nth-of-type(12) label{
	grid-column: 2;
  }

 /* ’t Hooft, S. (z.d.). FED 24/25 - States - kleurtjes met has en lightdark - uitwerking. Codepen. Geraadpleegd op 15 november 2024, van https://codepen.io/shooft/pen/xxozyVW?editors=1100 */ 
:root:has([value="light"]:checked) {
	color-scheme:light;
}

:root:has([value="dark"]:checked) {
	color-scheme:dark;
}

  
/* form */
header > form {
	background-color: var(--section-background);
	border-radius: 2px;
	border: 1px solid var(--nav-background);

	position: absolute;
	top: calc(6.4%);
	left: calc(-0.5%);
	display: flex;
    justify-content: center;
    align-items: center;

	z-index: 200;

	padding: 16px;
	width: 100%;

	transform: translateY(-200em);
  }

  header > form.startSearch {
	transform: translateY(0);
  }

header > form input{
	width: 80%;
	padding: 8px;
    border: none;
	outline: none;
	border-bottom: 1px solid var(--gray-text);
    font-size: 16px;
	text-align: left;
}

header > form button{
	border: none;
	background: none;
	margin-left: 0.5em;
}


/* header nav */
  nav{
	  margin-left: 7em;
	  padding: 2em;
	  background-color: var(--nav-background);
  
	  display: grid; 
  
	  position: fixed;
	  z-index: 300; /*  boven de position:... elementen uit komen */
	  inset: 0;
	  translate: 100%;       
	  transition: 1s;
  }
  
  nav.toonMenu {
	  translate: 0;
	  position: absolute;
	}

	nav h2{
	 font-size: 20px;	
	}
  
  nav a{
	  display:flex;
	  margin: 0.5em;
  }
  
	nav button {
	  justify-self:end;
	  background-color: var(--nav-background);
	  position: absolute ;
	 }
  
  header nav button{
	  background-color: var(--nav-background);
	  padding: 0.5em;
	  border: none;
  }

  header nav button img{
	width: 3em;
}
  /*EIND*****BURGER MENU + CODE VAN DE LES****/
  
  main{
	  margin: 1em;
  }
  
  main section{
	  background-color: var(--section-background);
	  margin: 1em;
	  padding: 1em;
	  border: 1px solid var(--gray-text);
  }
  
  h1{
	  font-size: 2em;
	  padding: .5em;
  }
  
  h2{ 
	  font-size: 1.5em;
  }
  
  h3{
	  font-size: 1em;
  }
  
  li { 
	  list-style: none;
  }
  
  img{
	  width: 7em;
  }
  
  /****footer****/
  footer{
	  background-color: var(--footer-background);
	 color: var(--wit);
	  padding: 0.5em;

	  display: flex;
	  flex-wrap: wrap;
  }
  
  footer section:nth-of-type(2) h2,
  footer section:nth-of-type(3) h2,
  footer section:nth-of-type(4) h2{
	font-size: 14px;
	text-transform: uppercase;
  }

  footer ul li a{
	 color: var(--wit);
	 font-size: 0.8em;
  }

  footer p{
	font-size: 0.9em;

  }

  footer section{
	 margin: 1em;
  }
  
  footer ul li{
	 margin: 0;
	 padding: 0;
  }

/* Section 1 */
footer img{
	width: 7em;
	}

  footer section:nth-of-type(1) > p{
	font-size: 0.8em;
	font-weight: lighter;
	color: var(--light-gray);
  }

  /* Eerste ul */
  footer section:nth-of-type(1) ul:nth-of-type(1){
	display: flex;
	flex-wrap: wrap;

	margin: 0.5em;
  }

 footer section:nth-of-type(1) ul:nth-of-type(1) li{
	border: 1px solid var(--wit);
	border-radius: 50%;
  }

  footer section:nth-of-type(1) ul:nth-of-type(1) img{
	width: 1.2em;
	margin: 0.5em;

	display: flex;
	align-content: center;
  }

  /* Tweede ul */
  footer section:nth-of-type(1) ul:nth-of-type(2) li{
	border: 1px solid var(--wit);
	border-radius: 30px;
	margin: 0.5em;
  }

  footer section:nth-of-type(1) ul:nth-of-type(2) li a{
	font-size: 1em;
	margin-bottom: 0.5em;

	display: flex;
	align-items: center;
  }

   footer section:nth-of-type(1) ul:nth-of-type(2) li a p{
	font-size: 10px;
  }

  footer section:nth-of-type(1) ul:nth-of-type(2) img{
	width: 1.5em;
	margin: 0.5em;
  }
/* EIND section 1 */

footer section:nth-of-type(2) ul li,
footer section:nth-of-type(3) ul li,
footer section:nth-of-type(4) ul li{
	padding-bottom: 1em;
 }
  /*EIND*****footer****/